[Unit]
Description=Clash daemon

[Service]
Type=simple
LimitNOFILE=49152
ExecStart=/usr/bin/clash -d /etc/clash

[Install]
WantedBy=multi-user.target
