ServerAliveInterval 60

# QingCloud ap1 2Core/2G
Host spawn
    HostName 207.226.143.24
    User root

# QingCloud ap1 1Core/2G
Host forum
    HostName 209.9.106.29
    User root

# AWS EC2 ap-southeast-1b t2.micro
Host sg-agent
    HostName 52.77.208.230
    User root

# DigitalOcean NYC3 512M
Host us-agent
    HostName 104.131.32.114
    User root

# Linode Tokyo 2 1Core/2G
Host jp-agent
    HostName 139.162.70.25
    User root
