ServerAliveInterval 60

# https://en.wikibooks.org/wiki/OpenSSH/Cookbook/Multiplexing
ControlPath ~/.ssh/controlmasters/%r@%h:%p
ControlMaster auto
ControlPersist 60m

ForwardAgent yes

# QCloud ap-beijing-3 1Core/2G
Host cn-forum
  HostName 140.143.189.132
  User root

# Linode ap-northeast-1b 1Core/2G
Host ap-forum
  HostName 172.104.95.199
  User root

# Linode ap-northeast-1b 1Core/2G
Host ap-home
  HostName 139.162.109.167
  User root
