---
- name: add apt repository key
  apt_key:
    url: 'https://packagecloud.io/netdata/netdata/gpgkey'

- name: add apt repository
  apt_repository:
    repo: 'deb https://packagecloud.io/netdata/netdata/ubuntu/ {{ ansible_lsb.codename | lower }} main'
    update_cache: yes

- name: install apt packages
  apt:
    name: netdata

- name: config netdata
  lineinfile:
    path: /etc/netdata/netdata.conf
    regexp: '{{ item.regexp }}'
    line: '{{ item.line }}'
    firstmatch: true
  with_items:
    - { regexp: 'bind to =', line: 'bind socket to IP = 0.0.0.0' }
  when: nextdata_exposed
  notify: restart netdata
