---
# First-time setup (run manually on the server):
#   cd /var/discourse && ./launcher bootstrap <name>
#   docker tag local_discourse/<name> docker-registry.internal/discourse/<name>
#   docker push docker-registry.internal/discourse/<name>

- name: clone git repository
  git:
    repo: 'https://github.com/discourse/discourse_docker.git'
    dest: /var/discourse

- name: upload container definitions
  template:
    src: 'container.yml'
    dest: '/var/discourse/containers/{{ item.name }}.yml'
  notify: rebuild discourse
  with_items: '{{ discourse }}'

- meta: flush_handlers

- name: tag and push discourse image
  shell: |
    docker tag local_discourse/{{ item.name }} {{ discourse_registry }}/discourse/{{ item.name }}
    docker push {{ discourse_registry }}/discourse/{{ item.name }}
  args:
    chdir: '/var/discourse'
  with_items: '{{ discourse }}'
