version: "3"

networks:
  gitea:
    external: false

services:
  server:
    image: gitea/gitea:1.22.4
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA_CUSTOM=/var/lib/gitea
    restart: always
    networks:
      - gitea
    volumes:
      - '{{gitea_root}}:/var/lib/gitea'
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3300:3000"
      - "2222:2222"
    deploy:
      resources:
        limits:
          memory: 768M
    healthcheck:
      test: curl --fail http://localhost:3000 || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
